{
  "CreateEmailSessionFunction": {
    "EMAIL_DOMAINS": "[\"gmail.com\", \"outlook.com\"]",
    "JWT_SECRET": "super-secret-jwt",
    "TABLE_NAME": "EmailsTable",
    "EMAIL_STORAGE_BUCKET": "my-email-storage-bucket"
  },
  "FetchEmailsFunction": {
    "EMAIL_DOMAINS": "[\"gmail.com\", \"outlook.com\"]",
    "JWT_SECRET": "super-secret-jwt",
    "TABLE_NAME": "EmailsTable",
    "EMAIL_STORAGE_BUCKET": "my-email-storage-bucket"
  },
  "EmailProcessorFunction": {
    "EMAIL_DOMAINS": "[\"gmail.com\", \"outlook.com\"]",
    "JWT_SECRET": "super-secret-jwt",
    "TABLE_NAME": "EmailsTable",
    "EMAIL_STORAGE_BUCKET": "my-email-storage-bucket"
  },
  "DynamoDBStreamProcessorFunction": {
    "EMAIL_DOMAINS": "[\"gmail.com\", \"outlook.com\"]",
    "JWT_SECRET": "super-secret-jwt",
    "TABLE_NAME": "EmailsTable",
    "EMAIL_STORAGE_BUCKET": "my-email-storage-bucket"
  }
}
